<footer class="footer">
    <div class="container">
        <div class="pull-left">
            Copyright &copy 2016 Computer Science House. <a href="https://github.com/stevenmirabito/PaperGameJam" target="_blank">GitHub</a>.<br>Web by <a href="http://stevenmirabito.com/">Steven
            Mirabito</a>. Art by <a href="http://www.jackiemcgraw.com/">Jacqueline McGraw</a>.
        </div>
        <div class="pull-right">
            <a href="http://csh.rit.edu/"><img src="{{ site.baseurl }}/images/csh_logo.svg" alt="CSH" class="logo-footer"></a>
        </div>
    </div>
</footer>