<div class="jumbotron-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-4">
                <img src="{{ site.baseurl }}/images/pgj_logo.png" class="jumbotron-logo">
            </div>
            <div class="col-md-4">
                <div class="jumbotron-text jumbotron-label">When is it?</div>
                <div class="jumbotron-text">February 26-27, 2016<br>10pm-10pm</div>
                <div class="jumbotron-text jumbotron-label">Where is it?</div>
                <div class="jumbotron-text">Student Alumni Union<br>within Rudicon</div>
            </div>
            <div class="col-md-2">&nbsp;</div>
        </div>
    </div>
</div>