<div class="panel panel-csh">
    <div class="panel-heading">
        <h3 class="panel-title">Sponsors</h3>
    </div>
    <div class="panel-body sponsors">
        <a href="https://thelink.rit.edu/organization/rwag"><img src="{{ site.baseurl }}/images/sponsors/rwag.png" class="sponsor-image"></a>
        <hr>
        <a href="http://wegmans.com/"><img src="{{ site.baseurl }}/images/sponsors/wegmans.png" class="sponsor-image"></a>
        <hr>
        <a href="http://rit.edu/"><img src="{{ site.baseurl }}/images/sponsors/rit.png" class="sponsor-image"></a>
    </div>
</div>
<div class="panel panel-csh">
    <div class="panel-heading">
        <h3 class="panel-title">All Proceeds Benefit</h3>
    </div>
    <div class="panel-body sponsors">
        <img src="{{ site.baseurl }}/images/acs_logo.svg" alt="American Cancer Society" class="sponsor-image">
    </div>
</div>